body {
    background: rgb(205, 130, 205);
    color:blue;
}


.heading {
    width: 80%;
    font-size: 22px;

}

.name_of_objects 
{
background-color:blue;
color:white;
}

 #result_object_name, #result_object_accuracy 
 {
    color:white;
 }
  

#camera {
    border:2px dashed black;
    width:350px;
    height:300px;
}